#imgs-wrap .cardBox .flipped {
  position: absolute;
}

#selectCard {
  width: 400px;
  height: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  z-index: 9999;
  transform-style: preserve-3d;
}

#selectCard .newCard {
  position: absolute;
  width: 400px;
  height: 400px;
  background-size: cover;
  transform-style: preserve-3d;
}

#selectCard .selectFront {
  backface-visibility: hidden;
  transform: perspective(700px) rotateY(180deg);
  -webkit-animation: newCardAni1 2s;
}

#selectCard .selectBack {
  background: greenyellow;
  backface-visibility: hidden;
  transform: perspective(700px);
  -webkit-animation: newCardAni2 2s;
}

@-webkit-keyframes newCardAni1 {
  0% {
    transform: rotateY(360deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
  }
}

@-webkit-keyframes newCardAni2 {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
  }
}

#backButton {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(20% - 50px);
  color: white;
  font-size: 100px;
}
