#imgs-wrap .cardBox .flipped {
  position: absolute;
}

.selectCard {
  width: 400px;
  height: 600px;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 200px);
  z-index: 7777;
  transform-style: preserve-3d;
}

.selectCard .newCard {
  position: absolute;
  width: 400px;
  height: 600px;
  transform-style: preserve-3d;
  border: 3px solid #fff;
  border-radius: 15px;
  -webkit-animation: fade-in 1s;
}

.selectCard .selectFront {
  backface-visibility: hidden;
  background-size: cover;
  transform: perspective(700px) rotateY(180deg);
  -webkit-animation: newCardAni1 2s;
}

.selectCard .selectBack {
  backface-visibility: hidden;
  transform: perspective(700px);
  background-size: cover;

  text-align: center;
  -webkit-animation: newCardAni2 2s;
}

@-webkit-keyframes newCardAni1 {
  0% {
    transform: rotateY(360deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
  }
}

@-webkit-keyframes newCardAni2 {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
  }
}

#backButton {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(20% - 50px);
  color: white;
  font-size: 100px;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
