body,
html {
  background: linear-gradient(90deg, #cfd9df 0%, #e2ebf0 100%);
}

#wrap {
  width: 100vw;
  height: 100vh;
}

#nameBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  min-width: 500px;
  margin: 0 auto;
  color: rgb(78, 78, 78);
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation: fade-in 1s;
}

#loginForm {
  width: 290px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}

.loginInput {
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  font-size: 24px;
  border: 3px solid #9c9c9c;
  color: rgb(105, 105, 105);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
}

.loginInput:focus {
  outline: none;
  border: 3px solid #000;
  color: #000;
}

.loginBtn {
  width: 50px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  border: none;
  color: rgb(105, 105, 105);
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.loginBtn:hover {
  color: #fff;
}

#imgs-wrap {
  display: flex;
  /* border: 1px solid #000; */
  width: 80%;
  min-width: 1100px;
  height: 600px;
  min-height: 300px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
  -webkit-animation: fade-in 1s;
}
#imgs-wrap .cardBox {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  transform-style: preserve-3d;
  transition: all 0.3s linear;
}

#imgs-wrap .cardBox .face {
  position: absolute;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background-size: cover;
  transition: all 0.2s linear;
}

#imgs-wrap .cardBox .front {
  background-color: #ccc;
  transform: perspective(700px);
}

#imgs-wrap .cardBox .back {
  text-align: center;
  line-height: 250px;
  background-color: greenyellow;
  transform: perspective(700px) rotateY(180deg);
}

#imgs-wrap .cardBox:hover .face.front {
  transform: perspective(700px) rotateY(30deg);
  /* transform: perspective(700px) rotateY(180deg); */
}

#imgs-wrap .cardBox:hover .face.back {
  transform: perspective(700px) rotateY(210deg);
  /* transform: perspective(700px) rotateY(360deg); */
}

.timeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 80px;
  position: absolute;
  width: 500px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 250px);
  text-align: center;
  -webkit-animation: fade-in 1s;
}

#timeBox .message {
  font-size: 24px;
  font-weight: 500;
  color: #706f6f;
}

#timeBox #timeText {
  font-size: 82px;
  font-weight: 700;
}

#footBar {
  position: fixed;
  bottom: 0;
  z-index: 8888;
  width: 100vw;
  height: 40px;
  transition: all ease 0.5s;
}

#footBar #footbarToggle {
  width: 50px;
  text-align: center;
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: calc(50% - 25px);
  font-size: 24px;
  transition: all ease 0.2s;
  cursor: pointer;
}

#footBar #selectSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#footBar .myCard {
  position: absolute;
  top: calc(25%);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  background-size: cover;
  transition: all 0.3s;
}

#footBar .myCardHidden {
  opacity: 0;
}

#selectCardBackground {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -9999; */
  -webkit-animation: fade-in 1s;
}

.hidden {
  display: none;
}

.hidden2 {
  -webkit-animation: fade-out 1s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
